* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: sans-serif;
}

*::selection {
	background-color: rgba(255, 75, 30, .25);
}

h1 {
	font-size: 2.5em;
	color: #fff;
	line-height: 1.5em;
	margin-bottom: .5em;
}

h2 {
	font-size: 2em;
	color: #ff4b1e;
	cursor: default;
	border: 3px dotted #ff4b1e;
	padding: .25em;
	width: 20%;
	margin: .25em auto;
}

h3 {
	line-height: 1.5em;
	cursor: default;
	color: #ff4b1e;
}

p {
	line-height: 1.5em;
	font-size: 1em;
}

hr {
	border: none;
	background-color: #3c3c3c;
	height: 3px;
	width: 50%;
	margin: 1em auto;
}

span {
	font-size: 1em;
	line-height: 1.5em;
	cursor: default;
}

span.foreword {
	margin: .25em 0;
	display: block;
	font-weight: bold;
	color: #ff4b1e;
	text-transform: uppercase;
	letter-spacing: .25em;
}

span.clr {
	color: #ff4b1e;
	font-weight: bold;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a.btn {
	color: #ff4b1e;
	border: 3px solid #ff4b1e;
	padding: .75em 0;
	display: block;
	width: 25%;
	margin: 0 auto;
	text-align: center;
	transition: .25s;
	border-radius: .25em;
	font-weight: bold;
	line-height: 1.5em;
}

a.btn:hover {
	background-color: #ff4b1e;
	border-color: #ff4b1e;
	color: white;
}

img {
	width: 100%;
}

img.icon {
	width: 2.5em;
}

img.icon-bg {
	width: 5em;
}

main {
	background-color: #f2f2f2;
}

header {
	width: 100%;
	background-color: white;
}

header .logo {
	color: white;
	font-size: 3.5em;
	
	letter-spacing: .25em;
}

header .logo img {
	display: block;
	margin: 0 auto;
}

header .main-menu {
	background-color: #ff4b1e;
	margin: 0;
	padding: 0;
}

header .main-menu li {
	margin: 1em;
}

header .main-menu a {
	color: white;
	padding: 1em;
	display: block;
}

header .main-menu a.menu-trigger {
	display: none;
}

header .main-menu a:hover {
	opacity: .75;
}

header a.number {
	color: white;
	font-weight: bold;
}

footer {
	padding: 2.5em 0;
	text-align: center;
	background-color: #ff4b1e;
	color: white;
}

.block {
	padding: 2.5em 0 2.5em 0;
	text-align: center;
	color: #3c3c3c;
	text-align: center;
}

.block-clr {
	background-color: #ff4b1e;
	color: white;
}

.block-clr h2 {
	color: white;
	border-color: white;
}

.block-clr span.foreword {
	color: white;
}

.block-clr a.btn {
	border-color: white;
	color: white;
}

.block-clr a.btn:hover {
	background-color: white;
	color: #ff4b1e;
}

.block-img {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, .25);
	color: white;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.w-100 {
	width: 100%;
}

.d-block {
	display: block;
}

.d-flex,
.items {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.items {
	margin-top: 1.5em;
}

.item {
	margin: 0 .5em;
}